[Desktop Entry]
Version=1.0
Type=Application
Name=Project Tracker
Terminal=false
Categories=Utility;
Exec=$HOME/.local/bin/project_tracker
Icon=$HOME/.local/project_tracker.app/icons/hicolor/512x512/apps/project_tracker.png
StartupWMClass=Project Tracker
StartupNotify=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true